


<h1>Listing Purchases</h1>
<h2>Foods</h2>
<%= pie_chart @all_purchases.group(:food_id).count %>
<h2>Users</h2>
<%= pie_chart @all_purchases.group(:user_id).count %>






<table>
  <thead>
    <tr>
      <th>Purchase date</th>
      <th>Food</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.created_at.strftime("%b %d, %Y") %></td>
        <td><%= purchase.food.name %></td>
        <td><%= purchase.user.email %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
