<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your food is about to expire, <%= @user.first_name %></h1>
    <p>On <%= @purchase.created_at.strftime("%b %d, %Y") %> you bought <%= @food.name %>, and it will expire on <%= @expiration.expiration_date.strftime("%b %d, %Y") %> </p>

<% unless @recipe.blank? %>
<h1><%= @recipe["label"] %></h2>

<p><%= @recipe["level"].humanize %></p>

<p><%= image_tag @recipe["image"] %></p>

<% @ingredient_lines.each do |r| %>
<p><%= r %></p>
<% end %>

<p><strong>Source: </strong><%= @recipe["url"] %>
<% end %>
  </body>
</html>