<p id="notice"><%= notice %></p>
<% Purchase.view_by_zip.each do |zip_hash| %>
  <br>
  <% zip_hash.each do |zip, purchases| %>
    <strong><%= zip %></strong>
    <br>
    <% purchases.each do |purchase| %>
      <%= purchase.food.name %>
    <% end %>
  <% end %>
<% end %>
<h1>Listing Foods</h1>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Shelf life</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.image %></td>
        <td><%= food.shelf_life %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %> | 
<%= link_to 'Food Categories', food_categories_path %>
