<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @food.image %>
</p>

<p>
  <strong>Shelf life:</strong>
  <%= @food.shelf_life %>
</p>


<%= render '/food_users/form' %>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %> | 
<%= link_to 'Food Categories', food_categories_path %>
