<div class="row">
  <div class="col-sm-2 col-sm-offset-5">
      <p class="button">
        <%= image_tag "fridge.png", class: 'fridge img-responsive' %>
      </p>
  </div>
</div>

<div class="container">
  <div class="fridge">
	 <h1>Mix + match food ingredients</h1>
  </div>
<div class="container-fluid">
  <%= form_tag results_path do %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" >
        <div class="col-md-4">
          <div class="form-group">
          <label for="City1">First Ingredient</label>
             <%= text_field_tag :ingredients, "", class: "form-control", placeholder: "Chocolate" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="City2">Second Ingredient</label>
            <%= text_field_tag :ingredients1, "", class: "form-control", placeholder: "Apple" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="days">Third Ingredient</label>
            <%= text_field_tag :ingredients2, "", class: "form-control", placeholder: "Pork"  %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <button class="btn btn-block btn-info btn-lg" type="submit" data-disable-with="Let's Cook!" data-toggle="modal" data-target=".bs-example-modal-lg">Turn Up The Heat</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
	</div>
	<hr>
  <div class="fridge">
	 <h2>Suggested Recipes based<br>on your purchases</h2>
  </div>
		<div class="container">
      <div class="row">
        <% @purchases.each do |r| %>
				  <div class="col-sm-4">
            <p class="title">
				 	    <%= link_to r.recipe.recipe_title, r.recipe.recipe_url %>
				 	  </p>
				  	<p class="text">
              <%= link_to (image_tag r.recipe.recipe_image), r.recipe.recipe_url, :target => '_blank' %>
				  	</p>
				  </div>
				<% end %>
			</div>
		</div>

<section class="open">
    <div class="nav-cat">
      <p class="button">
        <i style="" class="fa fa-arrow-left fa-3x">Close</i>
      </p>
      <h3>Your Fridge</h3>
      <ul class="purchases">
        <% @purchases.each do |p| %>
          <li>
           <%= p.food.name %>
          </li>
          <% end %>
          </li>
      </ul>
    </div>
</section>
