
<h1><%= @display["label"] %></h2>

<p><%= @display["level"].humanize %></p>

<p><%= image_tag @display["image"] %></p>

<% @ingredient_lines.each do |r| %>
<p><%= r %></p>
<% end %>

<p><strong>Source: </strong><%= @display["url"] %>

<h1><%= @display2["label"] %></h2>

<p><%= @display2["level"].humanize %></p>

<p><%= image_tag @display2["image"] %></p>

<% @ingredient_lines2.each do |r| %>
<p><%= r %></p>
<% end %>

<p><strong>Source: </strong><%= @display2["url"] %>