 <div class="fridge">
   <h2>Your Mixed + Matched Results!</h2>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food["image"]), @recipe_food["url"]  %>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food1["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food1["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food1["image"]), @recipe_food1["url"] %>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food2["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food2["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food2["image"]), @recipe_food2["url"] %>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food3["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food3["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food3["image"]), @recipe_food3["url"] %>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food4["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food4["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food4["image"]), @recipe_food4["url"] %>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="title">
              <%= @recipe_food5["label"] %>
            </p>
            <p class="text">
              <%= @recipe_food5["level"].humanize %>
            </p>
            <p class="text">
              <%= link_to (image_tag @recipe_food5["image"]), @recipe_food5["url"] %>
            </p>
          </div>
      </div>
    </div>
