
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h1>Add Items to Fridge</h1>
  </div>
  <div class="col-sm-2 col-sm-offset-5">
      <p class="button">
        <%= image_tag "fridge.png", class: 'fridge img-responsive' %>
      </p>
  </div>

    </div>
    <ul class="purchase_list">
      <% @purchases.each do |p| %>
        <li>
          <%= p.food.name || "None" %>
          <%= link_to 'delete', purchase_path(p), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

    <div class="cat-fruit">
      <ul>
        <% @food_categories.each do |fc| %>
          <li>
            <a href="#"><i class="fa fa-reorder"></i><%= fc.name %>:</a>
              <ul>
                <% fc.foods.each do |f| %>
                <li>
                    <span class="add_food" data-food-name="<%= f.name %>" data-food-id="<%= f.id %>"><%= f.name %></span>
                     <% end %>
                </li>
              </ul>
          </li>
          <% end %>
          </li>
      </ul>
    </div>



<section class="open">
    <div class="fruits">
      <div class="bs-example">
        <% @food_categories.each do |fc| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= fc.name %></a>
                </h4>
            </div>
            <% end %>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  Content
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
</body>









