<div class="container-fridge">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
        <p class="button">
          <%= image_tag "fridge.png", class: 'fridge img-responsive' %>
        </p>
    </div>
    <div class="col-sm-12">
        <span>Click fridge to add items.</span>
    </div>
  </div>





  <ul class="purchase_list">
      <% @purchases.each do |p| %>
        <li><hr>
          <%= p.food.name || "None" %>
          <%= link_to 'delete', purchase_path(p), method: :delete %>
        </li>
      <% end %>
    </ul>




<section class="open">
    <div class="nav">
      <div class="bs-example">
        <% @food_categories.each do |fc| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= fc.name %></a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <% fc.foods.each do |f| %>
                <div class="panel-body">
                  <span class="add_food" data-food-name="<%= f.name %>" data-food-id="<%= f.id %>"><%= f.name %></span>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
</section>










