
<h1>Choose Your Items</h1>



<% @food_categories.each do |fc| %>
<%= fc.name %>: 
<% fc.foods.each do |f| %>

<span class="add_food" data-food-name="<%= f.name %>" data-food-id="<%= f.id %>"><%= f.name %></span>

<% end %>
<br>
<% end %>

<ul class="purchase_list">
  <% @purchases.each do |p| %>
    <li>
      <%= p.food.name || "None" %>
      <%= link_to 'delete', purchase_path(p), method: :delete %>
    </li>
  <% end %>
</ul>
<br>

<!--  -->
